body {
  margin: 0;
}

.header {
  background-color: lightgoldenrodyellow;
  height: 15vh;
  margin: 0;
}

.title {
  margin: 0;
  padding: 30px;
  padding-top: 40px;
}

.left-sidebar {
  background-color: paleturquoise;
  height: 85vh;
  width: 20vw;
}

.right-content {
  background-color: peachpuff;
  height: 85vh;
  width: 80vw;
}

.container {
  display: flex;
}

button {
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
}
