:root {
  --main-color: rgb(27, 7, 75);
  --highlight-color: rgb(127, 102, 185);
}

body {
  margin: 0;
  background-color: var(--main-color);
}

.header {
  background-color: var(--main-color);
  height: 80px;
  margin: 0;
  color: white;
  justify-content: center;
  display: flex;
}

.title {
  margin: 0;
  padding: 30px;
  padding-top: 20px;
  font-size: 2rem;
}

.left-sidebar {
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

.left-container {
  display: flex;
  justify-content: space-between;
}

.right-container {
  display: flex;
}

.project-delete {
  height: 16px;
  margin-right: 10px;
}
h2 {
  padding: 0 0 0 25px;
  font-size: 1.5rem;
}

.right-content {
  background-color: rgb(208, 208, 208);
  flex-grow: 20;
  min-height: 100vh;
  border-radius: 15px 0 0 0;
}

.container {
  display: flex;
}

.add-project-btn,
.add-todo-btn {
  margin-right: 20px;
  width: 30px;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
}

.add-todo-btn {
  margin-left: 20px;
}

.project-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  border-radius: 5px 0 0 5px;
  margin-bottom: 10px;
}

.todo-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  height: auto;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.todo-title {
  font-size: 1.2rem;
  font-weight: bold;
  align-self: center;
}
.todo-description,
.todo-due,
.todo-priority {
  padding: 5px;
}

.add-todo,
.add-project {
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
}

.add-todo {
  display: none;
}

.add-project {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 10px;
}

.show::after {
  content: " Please enter a title";
  color: red;
}

#project-close-btn {
  background-image: url("/icons/close.svg");
  height: 18px;
  width: 18px;
  align-self: flex-end;
}

#todo-close-btn {
  background-image: url("/icons/close.svg");
  height: 18px;
  width: 18px;
  align-self: flex-end;
}

.close-btn:hover {
  cursor: pointer;
}

/* Dropdown Button */
.drop-btn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.drop-btn:hover,
.drop-btn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show-dropdown {
  display: block;
}
