body {
  margin: 0;
}

.header {
  background-color: lightgoldenrodyellow;
  height: 15vh;
  margin: 0;
}

.title {
  margin: 0;
  padding: 30px;
  padding-top: 40px;
}

.left-sidebar {
  background-color: paleturquoise;
  height: 85vh;
  width: 20vw;
}

.right-content {
  background-color: peachpuff;
  height: 85vh;
  width: 80vw;
}

.container {
  display: flex;
}

button {
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px;
}

ul {
  list-style-type: none;
}

li {
}

.add-todo,
.add-project {
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
}

.add-todo {
  display: none;
}

.add-project {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 20px;
}

.show::after {
  content: " Please enter a title";
  color: red;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  padding-bottom: 3px;
  width: 17px;
  border: 1px solid red;
  border-radius: 5px;
  color: red;

  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

#project-close-btn {
  position: relative;
  top: -64px;
  left: 140px;
}

#todo-close-btn {
  position: relative;
  top: -65px;
  left: 253px;
}

.close-btn:hover {
  cursor: pointer;
}

/* Dropdown Button */
.drop-btn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.drop-btn:hover,
.drop-btn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show-dropdown {
  display: block;
}

.delete {
  display: inline-flex;
  justify-self: flex-end;
  padding: 3px;
  color: red;
  cursor: pointer;
  border: 1px solid black;
}
